
        .crystals {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .crystal{
            border: 1px solid green;
            border-radius: 50%;
            height: 200px;
            width: 100%;
            text-align: center;
            margin:10px;
            
            cursor: pointer;
        }
        .crystal:hover{
            box-shadow: 4px 4px 8px rgb(58, 46, 46);
        }
        
        images{
            width: 50px;
            height: 50px;
        }

        body {
           /* background-color: rgb(54, 87, 139);*/
           background-image: url("../images/bg.jpg");
        }

        h1 {
            color: black;
            background-color: springgreen;
            padding: 10px;
            width: 100%;
            text-align: center;
        }

        p {
            color: green;
            background-color: floralwhite;
            width: 60%;
            padding: 10px;
        }

        #winlose,
        #new,#toGuess {
            color: black;
            background-color: aqua;
            font-size: 25px;
            width: 30%;
            height: 100px;
            float: left;
            margin: 10px;

        }
    